
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: -23px;
 height: 530px;
 border-top-left-radius: 3px;
 border-top-right-radius: 2px;
}
.section-container{
  margin-left: 230px;
  margin-top: 15px;
  height: 300px;
}
.text-center{
margin-bottom: 30px;
font-size: 15px;
color: blue;
}

.text-center1 {
  text-align: center;
  background-color: blue;
  color: #fff;
  margin-top: 30px;
  border-radius: 10px;
 font-size: 16px;
  border-bottom-left-radius: 5px;
}

.section1-container {
 
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  

  
  
  margin-left: 450px;
}
.text-center2{
  margin-left: 460px;
  font-size: 20px;
}

.form-element {
  margin: 5px;
  min-width: 200px;
  display: flex;
  margin-bottom: 40px;

  padding: 5px;

}

.form-label {
  min-width: 150px;

}
.inp-label{
  margin-left: 8px;
}
.text{
  margin-left: -140px;
  margin-top: 30px;
  
  

}
.inp-label1{
  margin-left: 8px;
}
.text1{
  margin-left: -160px;
  margin-top: 30px;
}
.btn-click{
  background-color: blue;
  color: #f8f8f8;
  border-radius: 7px;
}

.id-card-container {
  display: none;
}

.card-container {
  width: 590px;
  height: 300px;
  border-radius: 10px;
  margin-left: 410px;
  
  font-family: Abel, Arial, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  width: 80vw;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  display: flex;
}

.user-card {
  width: 30vw;
  height: 100%;
  position: relative;
  background: linear-gradient(#92bca6, #a2ccb6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-information {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-photo {
  font-size: 7em;
}

.card-element {
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-name {
  font-size: 1.5rem;
}

.college-name {
  font-size: 1.2rem;
}
.vl {
  border-left: 1px solid black;
  height: 532px;
  margin-left: 700px;
  margin-top: -532px;
}

